# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.idea
.idea/*
.idea/workspace.xml

# Omy theme gulp files and SASS cache
sites/all/themes/omy/.sass-cache
sites/all/themes/omy/node_modules
