html, body  {
  height: 100%;
  font-family: $font;
  font-size:100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: $body-bg;
}
a:link,
a:visited {
  text-decoration: $link_no_decor;
  color: $link_color;
}
a:hover {
  color: #4e3a69;
}


article {
  padding: $articla_padd;
  margin: $articla_marg;

  h2 {
    font-size: 2rem;
  }

}

