html, body  {
  height: 100%;
  font-family: $font;
  font-size:100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: $body-bg;
}
a {
  text-decoration: $link_no_decor;
  color: $link_color;
    &:hover {
      color: complement($link_color);
    }
}

// Articles*/
article {
  padding: $articla_padd;
  margin: $articla_marg;

  h2 {
    @include h_header(2rem);
  }

  .node__content {
    strong {
      background-color: lighten($body-bg, 5);
      em {
        background-color: lighten($body-bg, 50);
        padding: 2px;
        border: 1px solid ;
        color: lighten($link_color, 10);
      }
    }
  }


}

